.contact-form {
    padding: 4rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}

.contact-form h1 {
    color: rgb(73,133,161);
}

.text-input {
    border: rgb(73,133,161)solid 1px;
    border-radius: 5px;
    padding: 7px 10px;
    width: 100%;
}

#input-text {
    resize: none;
    width: 100%;
}

#input-textarea {
    resize: none;
    width: 100%;
}

.submit-btn {
    background-color: rgb(73,133,161);
    border: none;
    border-radius: 5px;
    color: rgb(250,217,144);
    padding: 7px 0;
    width: 100%;
}
  
.submit-btn:hover {
    background-color: rgb(255,111,63);
    cursor: pointer;
}