.about {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 9rem;
    background-image: linear-gradient(
        to top,
      rgb(250,217,144),
      rgb(77,166,174)
    );
    gap: 2rem;
}

.resume {
    color:rgb(34, 77, 81);
}