.home {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12rem;
    background-image: linear-gradient(
        to top,
      rgb(250,217,144),
      rgb(77,166,174)
    );
    color:rgb(34, 77, 81);
    gap: 2rem;
}

.home-list {
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 1rem;
}

.home a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: stretch;
    padding: .25rem;
}

.home li.active {
    color: rgb(77,166,174);
}

.home li:hover {
    color: rgb(255,111,63);
}