* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui , sans-serif;
}

.app {
  /* background-image: linear-gradient(
    to top,
  rgb(250,217,144),
  rgb(77,166,174)
); */
border: blue 1px solid;
justify-content: center;
width: 100vw;
}

html {
  scroll-behavior: smooth;
}